[package]
name = "favicon-generator"
version = "0.3.4"
authors = ["Magic Len <len@magiclen.org>"]
edition = "2018"
repository = "https://github.com/magiclen/favicon-generator"
homepage = "https://magiclen.org/favicon-generator"
keywords = ["favicon", "generating", "web-app", "icon"]
categories = ["command-line-utilities"]
description= "It helps you generate favicons with different formats and sizes."
readme = "README.md"
license = "MIT"

[badges.travis-ci]
repository = "magiclen/favicon-generator"
branch = "master"

[profile.release]
panic = "abort"

[dependencies]
terminal_size = "0.1"
clap = "2"
image-convert = "0.9.5"
scanner-rust = "1"
subprocess = "0.2"
serde_json = "1"
tera = "1.0.0"
lazy_static = "1"

[dependencies.validators]
version = "0.20"
features = ["serdely"]